 @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter&display=swap');
*{
    max-width: 1513px;
    margin: 0 auto;
}
.navbar{
    width: 100vw;
    height: 120px;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: cente;
    margin-top: 192px;
}
.navbartitle{
    width: 40%;
    height: 56px;
    font-family: 'EB Garamond', serif;
    font-size: 50px;
    font-weight: bold;
}
.navbaricons{
    width: 60%;
    height: 60px;
    display: flex;
}